<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
http://www.springframework.org/schema/tx 
http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop-4.0.xsd "
	default-autowire="byName">

	<bean id="appInfoDao" class="com.dassmeta.passport.dal.ibatis.impl.AppAppInfoDaoImpl" parent="aclSqlSessionDao" />
	<bean id="menuDao" class="com.dassmeta.passport.dal.ibatis.impl.AppMenuDaoImpl" parent="aclSqlSessionDao" />
	<bean id="jobDao" class="com.dassmeta.passport.dal.ibatis.impl.AuJobInfoDaoImpl" parent="aclSqlSessionDao" />
	<bean id="orgDao" class="com.dassmeta.passport.dal.ibatis.impl.AuOrgInfoDaoImpl" parent="aclSqlSessionDao" />
	<bean id="userDao" class="com.dassmeta.passport.dal.ibatis.impl.AuUserDaoImpl" parent="aclSqlSessionDao" />
	<bean id="userDetailDao" class="com.dassmeta.passport.dal.ibatis.impl.AuUserDetailDaoImpl" parent="aclSqlSessionDao" />
	<bean id="permissionDao" class="com.dassmeta.passport.dal.ibatis.impl.UrpPermissionDaoImpl" parent="aclSqlSessionDao" />
	<bean id="roleDao" class="com.dassmeta.passport.dal.ibatis.impl.UrpRoleDaoImpl" parent="aclSqlSessionDao" />
	<bean id="rolePermissionDao" class="com.dassmeta.passport.dal.ibatis.impl.UrpRolePermissionDaoImpl" parent="aclSqlSessionDao" />
	<bean id="userPermissionDao" class="com.dassmeta.passport.dal.ibatis.impl.UrpUserPermissionDaoImpl" parent="aclSqlSessionDao" />
	<bean id="userRoleDao" class="com.dassmeta.passport.dal.ibatis.impl.UrpUserRoleDaoImpl" parent="aclSqlSessionDao" />

	<bean id="areacodeDao" class="com.dassmeta.passport.dal.ibatis.impl.DictionaryAreacodeDaoImpl" parent="commonSqlSessionDao" />
	<bean id="areacodeRecordDao" class="com.dassmeta.passport.dal.ibatis.impl.DictionaryAreacodeRecordDaoImpl" parent="commonSqlSessionDao" />
	<bean id="dictionaryIntegrationDao" class="com.dassmeta.passport.dal.ibatis.impl.DictionaryIntegrationDaoImpl" parent="commonSqlSessionDao" />


</beans>