<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dassmeta.passport.dal.ibatis.DictionaryIntegrationDao">
	<resultMap id="BaseResultMap" type="com.dassmeta.passport.dal.dataobject.DictionaryIntegration">
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="PARENT_ID" property="parentId" jdbcType="BIGINT" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="CODE" property="code" jdbcType="VARCHAR" />
		<result column="VALUE" property="value" jdbcType="VARCHAR" />
		<result column="STATE" property="state" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		ID, PARENT_ID, NAME, CODE, VALUE, STATE
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from dictionary_integration
		where ID = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from dictionary_integration
		where ID = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insert" parameterType="com.dassmeta.passport.dal.dataobject.DictionaryIntegration">
		insert into dictionary_integration (ID, PARENT_ID, NAME,
		CODE, VALUE, STATE)
		values (#{id,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT},
		#{name,jdbcType=VARCHAR},
		#{code,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR})
	</insert>

	<update id="updateByPrimaryKey" parameterType="com.dassmeta.passport.dal.dataobject.DictionaryIntegration">
		update dictionary_integration
		set PARENT_ID = #{parentId,jdbcType=BIGINT},
		NAME = #{name,jdbcType=VARCHAR},
		CODE = #{code,jdbcType=VARCHAR},
		VALUE =
		#{value,jdbcType=VARCHAR},
		STATE = #{state,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=BIGINT}
	</update>
</mapper>