<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dassmeta.passport.dal.ibatis.DictionaryAreacodeRecordDao">
	<resultMap id="BaseResultMap" type="com.dassmeta.passport.dal.dataobject.DictionaryAreacodeRecord">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="ORIGINAL_CODE" property="originalCode" jdbcType="VARCHAR" />
		<result column="ORIGINAL_NAME" property="originalName" jdbcType="VARCHAR" />
		<result column="NOW_CODE" property="nowCode" jdbcType="VARCHAR" />
		<result column="NOW_NAME" property="nowName" jdbcType="VARCHAR" />
		<result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
		<result column="OPERATOR_TIME" property="operatorTime" jdbcType="DATE" />
		<result column="OPERATION_TYPE" property="operationType" jdbcType="VARCHAR" />
		<result column="NOTES" property="notes" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		ID, ORIGINAL_CODE, ORIGINAL_NAME, NOW_CODE, NOW_NAME, OPERATOR, OPERATOR_TIME, OPERATION_TYPE,
		NOTES
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from dictionary_areacode_record
		where ID = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from dictionary_areacode_record
		where ID = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="com.dassmeta.passport.dal.dataobject.DictionaryAreacodeRecord">
		insert into dictionary_areacode_record (ID, ORIGINAL_CODE, ORIGINAL_NAME,
		NOW_CODE, NOW_NAME, OPERATOR,
		OPERATOR_TIME, OPERATION_TYPE, NOTES
		)
		values
		(#{id,jdbcType=INTEGER}, #{originalCode,jdbcType=VARCHAR}, #{originalName,jdbcType=VARCHAR},
		#{nowCode,jdbcType=VARCHAR}, #{nowName,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR},
		#{operatorTime,jdbcType=DATE}, #{operationType,jdbcType=VARCHAR}, #{notes,jdbcType=VARCHAR}
		)
	</insert>

	<update id="updateByPrimaryKey" parameterType="com.dassmeta.passport.dal.dataobject.DictionaryAreacodeRecord">
		update dictionary_areacode_record
		set ORIGINAL_CODE = #{originalCode,jdbcType=VARCHAR},
		ORIGINAL_NAME = #{originalName,jdbcType=VARCHAR},
		NOW_CODE =
		#{nowCode,jdbcType=VARCHAR},
		NOW_NAME = #{nowName,jdbcType=VARCHAR},
		OPERATOR = #{operator,jdbcType=VARCHAR},
		OPERATOR_TIME = #{operatorTime,jdbcType=DATE},
		OPERATION_TYPE =
		#{operationType,jdbcType=VARCHAR},
		NOTES = #{notes,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=INTEGER}
	</update>
</mapper>