<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dassmeta.passport.dal.ibatis.DictionaryAreacodeDao">
	<resultMap id="BaseResultMap" type="com.dassmeta.passport.dal.dataobject.DictionaryAreacode">
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="AREA_CODE" property="areaCode" jdbcType="VARCHAR" />
		<result column="PROVINCE" property="province" jdbcType="VARCHAR" />
		<result column="CITY" property="city" jdbcType="VARCHAR" />
		<result column="COUNTY" property="county" jdbcType="VARCHAR" />
		<result column="TOWN" property="town" jdbcType="VARCHAR" />
		<result column="VILLAGE" property="village" jdbcType="VARCHAR" />
		<result column="STREET" property="street" jdbcType="VARCHAR" />
		<result column="NOTE" property="note" jdbcType="VARCHAR" />
		<result column="STATE" property="state" jdbcType="VARCHAR" />
		<result column="OPERATE_TIME" property="operateTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		ID, AREA_CODE, PROVINCE, CITY, COUNTY, TOWN, VILLAGE, STREET, NOTE, STATE, OPERATE_TIME
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from dictionary_areacode
		where ID = #{id,jdbcType=BIGINT}
	</select>

	<select id="com.dassmeta.passport.dal.ibatis.impl.DictionaryAreacodeDaoImpl.getAreaByAreaCode" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from dictionary_areacode
		where areaCode=#{areaCode,jdbcType=VARCHAR} and t.state='1'
	</select>

	<select id="com.dassmeta.passport.dal.ibatis.impl.DictionaryAreacodeDaoImpl.getAjaxArea" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from dictionary_areacode
		where areaCode like '%'#{areaCode,jdbcType=VARCHAR}'%'
		and #{area,jdbcType=VARCHAR} is not null
		and #{nextArea,jdbcType=VARCHAR} is null and t.state='1'
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from dictionary_areacode
		where ID = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insert" parameterType="com.dassmeta.passport.dal.dataobject.DictionaryAreacode">
		insert into dictionary_areacode (ID, AREA_CODE, PROVINCE,
		CITY, COUNTY, TOWN,
		VILLAGE, STREET, NOTE,
		STATE, OPERATE_TIME)
		values (#{id,jdbcType=BIGINT},
		#{areaCode,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR},
		#{city,jdbcType=VARCHAR}, #{county,jdbcType=VARCHAR}, #{town,jdbcType=VARCHAR},
		#{village,jdbcType=VARCHAR}, #{street,jdbcType=VARCHAR},
		#{note,jdbcType=VARCHAR},
		#{state,jdbcType=VARCHAR}, #{operateTime,jdbcType=TIMESTAMP})
	</insert>

	<update id="updateByPrimaryKey" parameterType="com.dassmeta.passport.dal.dataobject.DictionaryAreacode">
		<!-- WARNING - @mbggenerated This element is automatically generated by MyBatis Generator, do not modify. This element was generated on Thu Jan 19 13:52:33 CST 2017. -->
		update dictionary_areacode
		set AREA_CODE = #{areaCode,jdbcType=VARCHAR},
		PROVINCE = #{province,jdbcType=VARCHAR},
		CITY = #{city,jdbcType=VARCHAR},
		COUNTY = #{county,jdbcType=VARCHAR},
		TOWN =
		#{town,jdbcType=VARCHAR},
		VILLAGE = #{village,jdbcType=VARCHAR},
		STREET = #{street,jdbcType=VARCHAR},
		NOTE = #{note,jdbcType=VARCHAR},
		STATE = #{state,jdbcType=VARCHAR},
		OPERATE_TIME =
		#{operateTime,jdbcType=TIMESTAMP}
		where ID = #{id,jdbcType=BIGINT}
	</update>
</mapper>