<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dassmeta.passport.dal.ibatis.AuOrgInfoDao">
	<resultMap id="BaseResultMap" type="com.dassmeta.passport.dal.dataobject.AuOrgInfo">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="parent_id" property="parentId" jdbcType="BIGINT" />
		<result column="org_name" property="orgName" jdbcType="VARCHAR" />
		<result column="id_full_path" property="idFullPath" jdbcType="VARCHAR" />
		<result column="org_code" property="orgCode" jdbcType="VARCHAR" />
		<result column="ordering" property="ordering" jdbcType="INTEGER" />
		<result column="contacter" property="contacter" jdbcType="VARCHAR" />
		<result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="DATE" />
		<result column="modify_time" property="modifyTime" jdbcType="DATE" />
		<result column="deleted" property="deleted" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, parent_id, org_name, id_full_path, org_code, ordering, contacter, contact_phone,
		description, create_time, modify_time, deleted
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from au_org_info
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from au_org_info
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insert" parameterType="com.dassmeta.passport.dal.dataobject.AuOrgInfo">
		insert into au_org_info (id, parent_id, org_name,
		id_full_path, org_code, ordering,
		contacter, contact_phone, description,
		create_time, modify_time, deleted
		)
		values (#{id,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{orgName,jdbcType=VARCHAR},
		#{idFullPath,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, #{ordering,jdbcType=INTEGER},
		#{contacter,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
		#{createTime,jdbcType=DATE}, #{modifyTime,jdbcType=DATE}, #{deleted,jdbcType=VARCHAR}
		)
	</insert>

	<update id="updateByPrimaryKey" parameterType="com.dassmeta.passport.dal.dataobject.AuOrgInfo">
		update au_org_info
		set parent_id = #{parentId,jdbcType=BIGINT},
		org_name = #{orgName,jdbcType=VARCHAR},
		id_full_path =
		#{idFullPath,jdbcType=VARCHAR},
		org_code = #{orgCode,jdbcType=VARCHAR},
		ordering = #{ordering,jdbcType=INTEGER},
		contacter = #{contacter,jdbcType=VARCHAR},
		contact_phone =
		#{contactPhone,jdbcType=VARCHAR},
		description = #{description,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=DATE},
		modify_time = #{modifyTime,jdbcType=DATE},
		deleted =
		#{deleted,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>