<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dassmeta.passport.dal.ibatis.UrpPermissionDao">
	<resultMap id="BaseResultMap" type="com.dassmeta.passport.dal.dataobject.UrpPermission">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="permission_key" property="permissionKey" jdbcType="VARCHAR" />
		<result column="permission_type" property="permissionType" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="DATE" />
		<result column="modify_time" property="modifyTime" jdbcType="DATE" />
		<result column="deleted" property="deleted" jdbcType="VARCHAR" />
		<result column="app_id" property="appId" jdbcType="BIGINT" />
	</resultMap>


	<sql id="Base_Column_List">
		id, name, permission_key, permission_type, description, create_time, modify_time,
		deleted, app_id
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from urp_permission
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="findByAppId" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from urp_permission
		where app_id = #{appId,jdbcType=BIGINT}
	</select>

	<select id="findByRoleId" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		p.*
		from urp_permission p
		left join urp_role_permission rp
		on
		p.id=rp.permission_id
		where role_id = #{roleId,jdbcType=BIGINT}
	</select>

	<select id="getAllPermission" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from urp_permission
		where deleted='N'
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from urp_permission
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insert" parameterType="com.dassmeta.passport.dal.dataobject.UrpPermission">
		insert into urp_permission (id, name, permission_key,
		permission_type, description, create_time,
		modify_time, deleted, app_id
		)
		values (#{id,jdbcType=BIGINT},
		#{name,jdbcType=VARCHAR}, #{permissionKey,jdbcType=VARCHAR},
		#{permissionType,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE},
		#{modifyTime,jdbcType=DATE},
		#{deleted,jdbcType=VARCHAR}, #{appId,jdbcType=BIGINT}
		)
	</insert>


	<update id="updateByPrimaryKey" parameterType="com.dassmeta.passport.dal.dataobject.UrpPermission">
		update urp_permission
		set name = #{name,jdbcType=VARCHAR},
		permission_key = #{permissionKey,jdbcType=VARCHAR},
		permission_type =
		#{permissionType,jdbcType=VARCHAR},
		description = #{description,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=DATE},
		modify_time = #{modifyTime,jdbcType=DATE},
		deleted =
		#{deleted,jdbcType=VARCHAR},
		app_id = #{appId,jdbcType=BIGINT}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<!-- 后台分页查询 -->
	<select id="pageList" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from urp_permission where app_id=#{appId,jdbcType=BIGINT}
		<if test="name!=null and name!=''">
			and name like '%'#{name,jdbcType=VARCHAR}'%'
		</if>
		order by CREATE_TIME desc limit #{offset},#{limit}
	</select>

	<select id="pageCount" resultType="long">
		select count(*) FROM app_app_info where deleted='N'
	</select>
</mapper>