<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dassmeta.passport.dal.ibatis.AuUserDetailDao">
	<resultMap id="BaseResultMap" type="com.dassmeta.passport.dal.dataobject.AuUserDetail">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="org_id" property="orgId" jdbcType="BIGINT" />
		<result column="gender" property="gender" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="job_name" property="jobName" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="DATE" />
		<result column="modify_time" property="modifyTime" jdbcType="DATE" />
		<result column="deleted" property="deleted" jdbcType="VARCHAR" />
		<result column="identitycard" property="identitycard" jdbcType="VARCHAR" />
		<result column="qq" property="qq" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="employer" property="employer" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
	</resultMap>


	<sql id="Base_Column_List">
		id, user_id, user_name, org_id, gender, mobile, phone, job_name, create_time, modify_time,
		deleted, identitycard, qq, email, employer, creator
	</sql>


	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from au_user_detail
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectUserOrgDetailByUserId" resultType="com.dassmeta.passport.dal.dataobject.UserDetailVO" parameterType="java.lang.Long">
		SELECT
		`user`.`id` AS `id` ,
		`user`.`login_id` AS `loginId` ,
		`user`.`password` AS `password` ,
		`user`.`deleted` AS `deleted` ,
		`user`.`create_time` AS `createTime` ,
		`user`.`modify_time` AS `modifyTime` ,
		`user`.`vpn_group` AS `vpnGroup` ,
		`user`.`type` AS `type`
		,
		`detail`.`org_id` AS `orgId` ,
		`detail`.`user_name` AS `userName` ,
		`detail`.`gender` AS `gender` ,
		`detail`.`mobile` AS `mobile` ,
		`detail`.`creator` AS `creator` ,
		`detail`.`employer` AS `employer` ,
		`detail`.`email` AS `email` ,
		`detail`.`qq` AS `qq` ,
		`detail`.`identitycard` AS `identitycard` ,
		`detail`.`job_name` AS `jobName` ,
		`detail`.`phone` AS `phone` ,
		`org`.`parent_id` AS `parentId` ,
		`org`.`org_name` AS `orgName` ,
		`org`.`id_full_path` AS `idFullPath` ,
		`org`.`org_code` AS `orgCode` ,
		`org`.`ordering` AS `ordering` ,
		`org`.`contacter` AS `contacter` ,
		`org`.`contact_phone` AS
		`contactPhone` ,
		`org`.`description` AS `description`
		FROM
		`au_user` `user`
		LEFT JOIN `au_user_detail` `detail` ON(`user`.`id` = `detail`.`user_id`)
		LEFT JOIN `au_org_info`
		`org` ON(`detail`.`org_id` =
		`org`.`id`)
		WHERE
		`detail`.`user_id` IS NOT NULL
		AND `org`.`id` IS NOT NULL
		AND user.id = #{id,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from au_user_detail
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insert" parameterType="com.dassmeta.passport.dal.dataobject.AuUserDetail">
		insert into au_user_detail (id, user_id, user_name,
		org_id, gender, mobile,
		phone, job_name, create_time,
		modify_time, deleted, identitycard,
		qq, email, employer,
		creator)
		values (#{id,jdbcType=BIGINT},
		#{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR},
		#{orgId,jdbcType=BIGINT}, #{gender,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR}, #{jobName,jdbcType=VARCHAR},
		#{createTime,jdbcType=DATE},
		#{modifyTime,jdbcType=DATE}, #{deleted,jdbcType=VARCHAR}, #{identitycard,jdbcType=VARCHAR},
		#{qq,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{employer,jdbcType=VARCHAR},
		#{creator,jdbcType=VARCHAR})
	</insert>

	<select id="pageCount" parameterType="com.dassmeta.passport.dal.dataobject.AuUserDetail" resultType="java.lang.Integer">
		select count(*) from au_user_detail
	</select>
	<select id="pageList" parameterType="com.dassmeta.passport.dal.dataobject.AuUserDetail" resultType="com.dassmeta.passport.dal.dataobject.AuUserDetail">
		select
		<include refid="Base_Column_List" />
		from au_user_detail
		limit #{offset,jdbcType=BIGINT},#{limit,jdbcType=BIGINT}
	</select>

	<update id="updateByPrimaryKey" parameterType="com.dassmeta.passport.dal.dataobject.AuUserDetail">
		update au_user_detail
		set user_id = #{userId,jdbcType=BIGINT},
		user_name = #{userName,jdbcType=VARCHAR},
		org_id = #{orgId,jdbcType=BIGINT},
		gender =
		#{gender,jdbcType=VARCHAR},
		mobile =
		#{mobile,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		job_name = #{jobName,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=DATE},
		modify_time =
		#{modifyTime,jdbcType=DATE},
		deleted =
		#{deleted,jdbcType=VARCHAR},
		identitycard = #{identitycard,jdbcType=VARCHAR},
		qq = #{qq,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		employer =
		#{employer,jdbcType=VARCHAR},
		creator =
		#{creator,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>